<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <base href="/">
  <link type="text/css" rel="stylesheet" href="/bips/static/css/style.css" />
  <link rel="shortcut icon" href="/bips/static/img/favicon.ico" />
  <title>{{ SESSION['APP'] }} - {{ SESSION['BASELINE'] }}</title>
</head>

<body>
  <div id="background-overlay"><!-- used for detecting clicks outside modal popup --></div>
  {% include 'header.html' %}

  <div style="display: flex;">
    {% include 'menu.html' %}
  
    <main style="flex: 8; margin: 0em 3em;">
      {% block main_content %}{% endblock %}
    </main>
  </div>

  {% include 'footer.html' %}
</body>
{% include 'log_queries.html' %}
<script src="/bips/static/js/init.js"></script>
</html>