{% import 'macro_message.html' as macro_message %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <base href="/">
  <link type="text/css" rel="stylesheet" href="/bips/static/css/style.css" />
  <link rel="shortcut icon" href="/bips/static/img/favicon.ico" />
  <title>Déconnexion</title>
</head>

<body>
<main class="center m2">

  {{ macro_message.print_message("Vous avez été déconnecté.e de l'application.", 'success') }}

  <p><small>Pour revenir sur l'application, il faut relancer le serveur.</small></p>

</main>
</body>
</html>