{% extends "base.html" %}
{% import 'macro_schema_rel.html' as macro_schema_rel %}
{% import 'macro_instances.html' as macro_instances %}
{% import 'macro_message.html' as macro_message %}

{% block main_content %}
<h2>Tables dans le schéma {{ REQUEST_VARS['current_schema'] }}</h2>

{% if SESSION['schemas_to_tables_to_atts'][REQUEST_VARS['current_schema']]  %}
    <p class="pl4" style="font-size: larger; word-spacing: 2px; line-height: 1.5;">
    {% for table in SESSION['schemas_to_tables_to_atts'][REQUEST_VARS['current_schema']] %}
        {{ macro_schema_rel.schema_relationnel(table, SESSION['schemas_to_tables_to_atts'][REQUEST_VARS['current_schema']][table]) }}
        <br>
    {% endfor %}
    </p>
{% else %}
    {{ macro_message.print_message(REQUEST_VARS['message'], REQUEST_VARS['message_class']) }}
{% endif %}

<h2>Exécuter une requête SQL</h2>

{% include 'form_sql.html' %}

{% if REQUEST_VARS['message']  %}
    {{ macro_message.print_message(REQUEST_VARS['message'], REQUEST_VARS['message_class']) }}
{% endif %}

{% if REQUEST_VARS.query_result and REQUEST_VARS.query_result.is_select_query %}
<p>
    {{ macro_instances.tab_instances(REQUEST_VARS['query_result'].result_attributes, REQUEST_VARS['query_result'].result_instances) }}
</p>
{% endif %}

{% endblock %}
