{% extends "base.html" %}
{% import 'macro_schema_rel.html' as macro_schema_rel %}
{% import 'macro_instances.html' as macro_instances %}
{% import 'macro_message.html' as macro_message %}

{% block main_content %}
<h2>Table {{ REQUEST_VARS['current_table'] }}</h2>

{% if SESSION['schemas_to_tables_to_atts'][REQUEST_VARS['current_schema']][REQUEST_VARS['current_table']]  %}
    <p class="pl4" style="font-size: larger; word-spacing: 2px; line-height: 1.5;">
        {{ macro_schema_rel.schema_relationnel(REQUEST_VARS['current_table'], SESSION['schemas_to_tables_to_atts'][REQUEST_VARS['current_schema']][REQUEST_VARS['current_table']]) }}
    </p>
{% else %}
    {{ macro_message.print_message(REQUEST_VARS['message'], REQUEST_VARS['message_class']) }}
{% endif %}

{% if REQUEST_VARS['query_result']  %}
    {{ macro_instances.tab_instances(REQUEST_VARS['query_result'].result_attributes, REQUEST_VARS['query_result'].result_instances) }}
{% else %}
    <p>Aucune instance dans la table.</p>
{% endif %}

{% endblock %}
