{% extends "base.html" %}

{% block main_content %}
<h2>Liste des séries</h2>
<ul>
{% for instance in REQUEST_VARS['series'] %}
    <li>{{ instance[0] }}</li>
{% endfor %}
</ul>

<h2>Liste des actrices</h2>
<ul>
{% for instance in REQUEST_VARS['actrices']  %}
    <li>{{ instance[1] }} {{ instance[2] }} (#{{ instance[0] }})</li>
{% endfor %}
</ul>

<h2>Liste des épisodes 1</h2>
<ul>
    {% for instance in REQUEST_VARS['episodes1'] %}
        <li>{{ instance[0] }}</li>
    {% endfor %}
</ul>

<h2>Liste des épisodes 2</h2>
<ul>
    {% for instance in REQUEST_VARS['episodes2'] %}
        <li>{{ instance[0] }}</li>
    {% endfor %}
</ul>

{% endblock %}
