{% extends "base.html" %}

{% block main_content %}
<h2>Critiquer une série</h2>

<form method="post">
  <ul>
    <li>
      <label for="name">Votre nom :</label>
      <input type="text" id="name" name="user_name" required />
    </li>
    <li>
      <label for="critique">Votre critique :</label>
      <input type="text" id="critique" name="critique" required></input>
    </li>
    <li>
      <label for="serie">Titre de la série :</label>
      <input type="text" id="serie" name="serie" required />
    </li>
  </ul>
  <input type="submit" name="button_valider" value = "ajouter" required />
</form>

{% include 'message.html' %}

{% endblock %}

